*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
/* Background Color */
body {
    background: radial-gradient(rgb(24, 216, 241), rgb(11, 97, 227), rgb(24, 2, 61));
}
.container{
    max-width: 100vw;
    height:100vh;
    background-image:url(/static/img/indexpage\ careerpic.jpeg);
    background-size: cover;
}
.form-con{
    padding-top: 10px;
    min-width: 33vh;
    min-height: 21vw;
    position: absolute;
    top: 18%;
    left: 38%;
    color: white;
    box-shadow: 10px 10px 10px;
}

@media only screen and (max-width: 768px){
    .form-con{
        position: absolute;
        top: 18%;
        left: 15%;   
    }
}
.form-con h2{
    text-align: center;
    margin-bottom: 16px;
}
.form{
    padding-left: 10px;
    font-size: 18px;
    margin: 10px 10px; 
}

.form-input{
    color: azure;
    background: rgba(255,255,255,.2);
    width: 91%;
    padding: 10px;
    margin: 10px 10px 20px 10px;
    box-shadow: 50px;
}

::-webkit-input-placeholder{
    font-size: 15px;
    color: azure;
}
.form-con button{
    position: relative;
    left: 30%;
    top: 80%;
    padding: 7px;
    width: 38%;
    border-radius: 20px;
    background: rgba(255,255,255,.2);
    box-shadow: 50px;
}
#submit:hover{
    font-size:15px;
    background-color:black;
    color: white;
    cursor:pointer;
}