<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/explore_career.css">
    <link rel="shortcut icon" type="icon" href="/img/explore.jpeg">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Career Dendogram</title>
</head>
<body>
    <!-- Navbar -->
    <header>
        <div class="container">
            <div class="navleft">
                <ul class="nav">
                  <li class="nav-link"><a href="/home">Home</a></li>
                  <li class="nav-link"><a href="/profile">Know Myself</a></li>
                  <li class="nav-link"><a href="/explore">Explore Career</a></li>
                  <li class="nav-link"><a href="/career">Study Options</a></li>
                  <li class="nav-link"><a href="#">Develop myself</a></li>
                  <li class="nav-link"><a href="#">Set Goals</a></li>
                  <li class="nav-link"><a href="/success">Success Story</a></li>
                </ul>
            </div>
            <div class="navright">
                <button onclick="location.href='/logout'">Sign Out</button>
            </div>
        </div>
    </header>
    <main>
        <div class="cont">
            <h1>Fields to Explore for Your Career</h1><br>
            <p>Choosing a career path is easier when you know what options you have. <br> Knowing the various career fields will help you be able to choose the right job based on your talents, education and interests.</p><br>
        </div>
        <div class="careeroptions">
            <div class="careeroptions-left">
                <a href="https://www.indeed.com/career-advice/finding-a-job/types-of-architects" target="_main" id="inf1"><button><i>1. Architecture</i></button></a>
                <a href="https://www.indeed.com/career-advice/finding-a-job/jobs-for-creatives" target="_main" id="inf2"><button><i>2. Arts, culture and entertainment</i></button></a>
                <a href="https://www.indeed.com/career-advice/finding-a-job/best-business-jobs" target="_main" id="inf3"><button><i>3. Business, management and administration</i></button></a>
                <a href="https://www.indeed.com/career-advice/finding-a-job/top-communications-degree-jobs" target="_main" id="inf4"><button><i>4. Communications</i></button></a>
                <a href="https://www.indeed.com/career-advice/finding-a-job/types-of-social-work-jobs" target="_main" id="inf5"><button><i>5. Community and social services</i></button></a>
                <a href="https://www.indeed.com/career-advice/finding-a-job/careers-in-education" target="_main" id="inf6"><button><i>6. Education</i></button></a>
                <a href="https://www.indeed.com/career-advice/finding-a-job/careers-in-technology-and-science" target="_main" id="inf7"><button><i>7. Science and technology</i></button></a>
                <a href="https://www.indeed.com/career-advice/finding-a-job/outdoor-jobs-that-pay-well" target="_main" id="inf8"><button><i>8. Farming, fishing and forestry</i></button></a>
                <a href="https://www.indeed.com/career-advice/finding-a-job/types-of-government-jobs" target="_main" id="inf9"><button><i>9. Government</i>
                </button></a>
                <a href="https://www.indeed.com/career-advice/finding-a-job/medical-careers-in-demand" target="_main" id="inf10"><button><i>10. Health and medicine</i></button></a>
                <a href="https://www.indeed.com/career-advice/finding-a-job/public-policy-careers" target="_main" id="inf11"><button><i>11. Law and public policy</i></button></a>
                <a href="https://www.indeed.com/career-advice/finding-a-job/top-types-of-sales-jobs" target="_main" id="inf12"><button><i>12. Sales</i></button></a>
            </div>
            <!-- <div class="careeroptions-right">
                <div id="info1">People in the architecture and planning fields are responsible for designing new structures or creating aesthetically pleasing, practical and structurally sound environments. Many positions require an undergraduate or graduate degree
                </div>
                <div id="info2">This career field is dedicated to enriching people's lives through culture and the sharing of arts and self-expression. There are formal educational programs for these fields, but these careers also include self-taught people who have natural talent.
                </div>
                <div id="info3">The business, management and administration career fields are best for business-minded individuals with a penchant for communication. They work to execute various processes necessary for the functioning of businesses. It usually involves working in an office environment
                </div>
                <div id="info4">The communications career field is about mastering the art of delivering a targeted message to diverse groups of people.</div>
                <div id="info5">The community and social services career field include jobs that offer tangible support to people and communities to enrich the lives of people.<br>Based in ideals of social justice and equality, this career path is for people who want to improve social systems and services. Often, people go in this field because there is a specific group of people they wish to advocate for or help.</div>
                <div id="info6">The education field is dedicated to the art of skillfully disseminating knowledge and information to people. The most obvious job in this field are teachers, but it is not just limited to teaching. There are also management, administrative and board member jobs</div>
                <div id="info7">Science and technology is a diverse career field that generally involves scientific research and the development of innovative technologies that benefit humanity. <br>Scientific professions often involved some degree of mathematics or computer science knowledge.</div>
                <div id="info8">The farming, fishing and forestry career fields are ideal for people who enjoy the outdoors. Providing food for people, this career field is an essential part of society. These professions work directly with ecosystems and manage them in various ways. People get the opportunity to be close to wildlife and nature. It includes the growing and harvesting of plants and animals for human consumption.</div>
                <div id="info9">The government career field comprises jobs where you work directly with government institutions on a federal, state or local level. It is a diverse career field with a variety of different occupations. Sometimes, people who seek to advance in this profession pursue an education in political sciences.</div>
                <div id="info10">This career profession involves healthcare services that provide care for people. They are an essential part of our society. This professional field often requires specialized training and certification.</div>
                <div id="info11">Within the law and public policy field, occupations include criminal justice, public policy advocacy and political lobbying. This career field comprises all the employment sectors. You can find a job working for the government, nonprofits, think tanks and large for-profit companies.</div>
                <div id="info12">Choosing a career path in sales involves working to sell items or services to individuals and businesses. People require in-depth knowledge of what they are selling. This field is customer service oriented and it often helps to have good interpersonal skills.</div>
            </div> -->
        </div>
    </main>
   <!-- Footer -->
   <footer class="foot"></footer>
</body>
<script src="/static/footer.js"></script>
</html>