<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Career Dendogram</title>
        <link rel="stylesheet" href="/static/home.css">
    </head>
    <body>
      <!-- Navbar using JS -->
      <header class="navbar"></header>
    
        <main>
            <div class="contleft">
                <div class="btns">
                    <a href="/profile"><button class="bt" id="btn1">Know Myself</button></a>
                    <a href="/explore"><button class="bt" id="btn2">Explore Career</button></a>
                    <a href="/career"><button class="bt" id="btn3">Study Options</button></a>
                    <a href=""><button class="bt" id="btn4">Develop myself</button></a>
                    <a href="/goals"><button class="bt" id="btn5">Set Goals</button></a>
                    <a href="/success"><button class="bt" id="btn6">Success Story</button></a>
                </div>
                <div class="test">
                    <a href="/tests"><button class="bt" id="btn7">Choose your career Today <br> Start with our Test </button></a>
                </div>
            </div>
            <div class="contright">
                <!-- <img width="500" height="500" src="" alt="">
                <div class="quoteContainer"> -->
                    <div id="quote">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, modi.
                    </div>
                    <div id="author">
                        Author
                    </div>
                </div>
            </div>
        </main>
        
        <footer class="foot">
            <div class="links">
                <ul>
                    <li class="foot-item"><a href="/home" class="foot-link">Home</a></li>
                    <li class="foot-item"><a href="/profile" class="foot-link">Know Myself</a></li>
                    <li class="foot-item"><a href="/explore" class="foot-link">Explore Career</a></li>
                    <li class="foot-item"><a href="/career" class="foot-link">Study Options</a></li>
                    <li class="foot-item"><a href="#" class="foot-link">Develop myself</a></li>
                    <li class="foot-item"><a href="#" class="foot-link">Set Goals</a></li>
                    <li class="foot-item"><a href="/success" class="foot-link">Success Story</a></li>
                </ul>
            </div>
            <div class="compinc">
                <p>© 2023 Company, Inc</p>
            </div>
        </footer>
    </body>
   <script src="/static/home.js"></script>
   <script src="/static/navbar.js"></script>
</html>