<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/login.css">
    <script src="index.js"></script>
</head>
<body>
    <div class="container">
        <div class="form-con">
            <h2>Login Form</h2>
            <form>
                <label class="form">
                    Email<br><input type="email" class="form-input" placeholder="Your Email Please">
                </label><br>
                <label class="form">
                    Password<br><input type="Password" class="form-input" placeholder="Set Password Please"> 
                </label><br>
                <button value="Submit" id="submit" >Submit</button>
                <div class="member">
                    <p>Not a member?</p>
                    <a href="/register">sign up</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>