<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Linking StyleSheet -->
    <link rel="stylesheet" href="/static/profile.css">
<!-- Web Icon -->
    <link rel="shortcut icon" type="icon" href="/static/img/person1.png">
    <title>Know My Self</title>
</head>
<body>
<!-- Navbar -->
<header class="navbar"></header>
<!-- Main My personal Page -->
    <main>
        <div class="personalinfo">
            <img src="/static/img/person1.png" alt="person">
            <input type="text" placeholder="name">
            {% comment %} <label style="" for="">{{get.user}}</label> {% endcomment %}
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Mobile No">
            <input type="text" placeholder="10th Marks">
            <input type="text" placeholder="12th Marks">
            <textarea name="" id="" cols="30" rows="4" placeholder="What is your hobby"></textarea>
            
        </div>
    </main>
       <!-- Footer -->
       <footer class="foot"></footer>
</body>
    <script src="/static/footer.js"></script>
    <script src="/static/navbar.js"></script>
</html>