<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/setgoals.css">
    <title>Career Dendogram</title>
</head>
<body>

    <!-- Navbar using JS -->
    <header class="navbar"></header>

    <main>
        <div class="todocontainer">
            <div class="todo">
                <h2>Setting Goals <img src="/static/img/icon.png"></h2>
                <div class="row">
                    <input type="text" id="input-box" placeholder="Add your Goals">
                    <button onclick="addTask()">Add</button>
                </div>
                <ul id="list-container">
                    <!-- <li class="checked">Task 1</li>
                    <li>Task 2</li>
                    <li>Task 3</li> -->
                </ul>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="foot"></footer>

</body>
<script src="/static/navbar.js"></script>
<script src="/static/setgoals.js"></script>
<script src="/static/footer.js"></script>
</html>