<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/studyoption.css">
  <title>Career Dendogram</title>
</head>

<body>

  <!-- Navbar using JS -->
  <header class="navbar"></header>

  <h2>Career Option!!</h2>
  <div class="box">
    <div class="card">
      <a href="https://www.indeed.com/career-advice/finding-a-job/engineer">
        <img src="/static/img/engg.jpeg" alt="Engineering">
        <h4>Engineering</h4>
        <p>Choose your Career in Engineering <br>
          Click here and get the right path of your destination!!
      </a>
    </div>
    <div class="card">
      <a
        href="https://blog.prepscholar.com/how-to-become-a-doctor#:~:text=The%207%20Steps%20to%20Becoming%20a%20Doctor%3A%20A,4%3A%20Apply%20and%20Get%20Into%20Medical%20School%20">
        <img src="/static/img/docter.jpg" alt="Avatar">
        <h4>Medical</h4>
        <p>Choose your Career in Medical <br>
          Click here and get the right path of your destination!!
        </p>
      </a>
    </div>
    <div class="card">
      <a
        href="https://www.indeed.com/career-advice/career-development/law-school-requirements#:~:text=How%20to%20get%20into%20law%20school%201%201.,...%207%207.%20Apply%20to%20law%20schools%20">
        <img src="/static/img/law.jpg" alt="Avatar">
        <h4>law</h4>
        <p>Choose your Career in Law <br>
          Click here and get the right path of your destination!!
        </p>
      </a>

    </div>
  </div>

  <!-- Footer -->
  <footer class="foot"></footer>

</body>
<script src="/static/navbar.js"></script>
<script src="active.js"></script>
<script src="/static/footer.js"></script>

</html>