<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/successstory.css">
    <title>Career Dendogram</title>
</head>

<body>
    
    <!-- Navbar using JS -->
    <header class="navbar"></header>
    
    <main>
        <div class="succcont">
            <h1>Engineering Success Stories</h1>
            <div class="Engineering">
                <div id="sundar">
                    <img src="/static/img/sundar.jpeg" alt="Sundar Pichai">
                    <h3>Sundar Pichai</h3>
                    <p>Sundar Pichai is a successful Indian-American business executive who is currently the CEO of Google and its parent company, Alphabet Inc. He joined Google in 2004 and rose through the ranks to become the company's CEO in 2015. Under his leadership, Google has continued to innovate and expand its reach, with a focus on machine learning, artificial intelligence, and cloud computing. Pichai's vision and strategic approach have helped Google maintain its position as a leading tech company in the world.</p>
                </div>
                <div id="satya">
                    <img src="/static/img/satya.jpeg" alt="Satya Nadella">
                    <h3>Satya Nadella</h3>
                    <p>Satya Nadella became the CEO of Microsoft in 2014, and under his leadership, the company's market value has more than tripled to over $2 trillion. He has spearheaded Microsoft's shift towards cloud-based services and has also focused on fostering a culture of empathy and growth mindset within the company. Nadella's success has earned him numerous accolades, including being named Time's Person of the Year in 2019.</p>
                </div>
                <div id="ada">
                    <img src="/static/img/nealmohan.jpeg" alt="Neal Mohan">
                    <h3>Neal Mohan</h3>
                    <p>Neal Mohan is an Indian-American business executive who is currently the Chief Executive Officer (CEO) at YouTube. He played a key role in building Google's advertising business and was responsible for creating AdSense, DoubleClick, and Google AdWords. Under his leadership, YouTube has seen significant growth in both viewership and revenue. Mohan is considered one of the most influential people in the digital advertising industry.</p>
                </div>
                <div id="elon">
                    <img src="/static/img/elon.jpeg" alt="Elon Musk">
                    <h3>Elon Musk (1971–)</h3>
                    <p>Engineer, businessman, inventor – three of the many labels often attached to South African-born Canadian
                        Musk. Founder of SpaceX, which is working towards an ultimate goal of enabling humans to live on other
                        planets; Tesla Motors, where electric cars are created to discourage the use of fossil fuels in transport;
                        and The Boring Company, which aims to create networks of tunnels in and around cities for fast, safe
                        transportation. Other achievements include starting the Musk Foundation, which funds engineering education
                        and research.</p>
                </div>
                <div id="alice">
                    <img src="/static/img/alice.jpeg" alt="Alice H Parker">
                    <h3>Alice H Parker (1895–1920)</h3>
                    <p>Born in New Jersey, Alice H Parker is the reason why you have central heating in your home. Dissatisfied with
                        the effectiveness of her fireplace in cold winters, the African American inventor designed a heating system
                        that exchanged cool air for heat. Using natural gas for fuel instead of wood and coal, the warmth could be
                        spread to rooms around the house. This invention also reduced the risk of fires in buildings from excessive
                        use of fireplaces.</p>
                </div>
                <div id="ellen">
                    <img src="/static/img/ellen.jpeg" alt="Ellen Ochoa">
                    <h3>Ellen Ochoa (1958–)</h3>
                    <p>Inventor, former astronaut and director of NASA’s Johnson Space Center, Ellen Ochoa has had a huge impact in
                        the aerospace industry. She co-created three inventions: an optical object recognition method, an optical
                        inspection system, and a method for noise removal. Ochoa was the world’s first Hispanic female astronaut and
                        has spent more than 950 hours in space. She's also the second woman to be director of the Johnson Space
                        Center.</p>
                </div>
                <div id="ge">
                    <img src="/static/img/george.jpeg" alt="George Stephenson">
                    <h3>George Stephenson (1781–1848)</h3>
                    <p>We could've easily included on this list George Stephenson’s son Robert, known as one of the greatest
                        engineers of the 19th century. George gets the nod however, for doing it all first – he built the first
                        public intercity railway line between Liverpool and Manchester in 1830. His rail gauge is still used all
                        over the world as the standard measurement for rail tracks.</p>
                </div>
                <div id="emily">
                    <img src="/static/img/emily.jpeg" alt="Emily Warren Roebling">
                    <h3>Emily Warren Roebling (1843–1903)</h3>
                    <p>Known as the first-ever female field engineer, Emily Warren Roebling played a significant part in completing
                        the Brooklyn Bridge. Her husband was a civil engineer who developed a disease during his time working on the
                        bridge. He was unable to continue, so Roebling took the reins and became chief engineer for the project for
                        the next 14 years. After its completion in 1883, she was the first person to cross it.</p>
                </div>
                <!-- <div id="isambard">
                    <img src="/static/img/isambard.jpeg" alt="Isambard Kingdom Brunel">
                    <h3>Isambard Kingdom Brunel (1806–1859)</h3>
                    <p>Isambard Kingdom Brunel has had an overwhelming impact on the infrastructure of modern UK. It's appropriate
                        he's on this list too, having given his name to a modern-day university (Brunel University London). His
                        achievements include the Great Western Railway and the Clifton Suspension Bridge in Bristol. Brunel built
                        railways across England, Wales, Ireland and Italy, and advised on rail lines in Australia and India.</p>
                </div>
                <div id="leonardo">
                    <img src="/static/img/leonardo.jpeg" alt="Leonardo da Vinci">
                    <h3>Leonardo da Vinci (1452–1519)</h3>
                    <p>Da Vinci was good at many things: painting, sculpting, architecture, science, music, mathematics, engineering, invention, anatomy, geology, astronomy, botany, writing, history, cartography, you name it. His engineering concepts were unfathomable at the time and still carry an air of magic with them today – flying machines, a type of armoured fighting vehicle, concentrated solar power, an adding machine, and the double hull. Few were feasible then but are central to how we live today.</p>
                </div> -->
            <div class="Medical"></div>
            <div class="Law"></div>
        </div>
    </main>
    
    <!-- Footer -->
    <footer class="foot"></footer>

</body>
<script src="/static/navbar.js"></script>
<script src="active.js"></script>
<script src="/static/footer.js"></script>
</html>