<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/test.css">
  <link rel="shortcut icon" type="icon" href="/static/img/test.png">
  <title>Tests</title>
</head>

<body>

  <!-- Navbar using JS -->
  <header class="navbar"></header>

  <main>
    <h2>TEST</h2>
    <div class="testscontainer">
      <div class="test">
        <a href="https://presenter.jivrus.com/p/1fCuMIPuMVmm_hZPUcRMQAhkM75duPqObWGWaBnLWvIA">
          <img src="/static/img/test.jpeg" alt="Test 1" target="_main">
          <p>Test 1</p>
        </a>
      </div>
      <div class="test">
        <a href="https://presenter.jivrus.com/p/1beuLerZ5ajBbfqVmFCPCKBxMmI1KD6dmWfsQKDPbzrc"><img src="/static/img/test.jpeg"
            alt="Test 2" target="_main">
        <p>Test 2</p>
        </a>
      </div>
      <div class="test">
        <a href="https://presenter.jivrus.com/p/1QLiHkSYR55YEfSFzf5IIN-A9VomD6VpUvlRiQEQDWx8"><img src="/static/img/test.jpeg"
            alt="Test 3" target="_main">
            <p>Test 3</p>
          </a>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="foot"></footer>

</body>
<script src="/static/navbar.js"></script>
<script src="/static/footer.js"></script>

</html>